body{
    font-family: 'Arial', sans-serif;
    background-color: #1a1a2e;
    color: #e4e4e7; margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#B4A59B;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    color:rgb(88, 57, 39);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #B4A59B;
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
}

.hero img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
}
table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    background-color: #B4A59B;
}

table th, table td {
    border:1px solid #ffffff;
    padding: 10px;
    text-align: center;
    color: #e4e4e7;
}

table th {
    background-color: #443834;;
}


/* Sections */
section {
    background-color: #B4A59B;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
}

section h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: rgb(88, 57, 39);
}

/* --- SKILL BAR --- */
.skill {
    margin: 10px 0;
}
.skill-bar {
    width: 100%;
    background: #443834;
    height: 10px;
    border-radius: 5px;
}
.skill-bar span {
    display: block;
    height: 100%;
    background: #00aaff;
    width: 0%;
    border-radius: 5px;
    transition: width 2s;
}


/* IMAGE SLIDER */
.slider-container {
    position: relative;
    width: 30%;
    overflow: hidden;
}
.slide {
    width: 100%;
    display: none;
}
.slide.active {
    display: block;
}

/* CONTACT FORM */
form {
    display: flex;
    flex-direction: column;
}
form input, form textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    background-color: #443834;
    color: white;
    margin-bottom: 10px;
}

/* DARK MODE */
.dark-mode {
    background: white;
    color: black;
}
.dark-mode section {
    background: #ddd;
}

/* BACK TO TOP */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #00aaff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: none;
    display: none;
}

